<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- index-sp-layout209:19-->
<head>
  <%- include('header') %>
</head>

<body class="">
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <img alt="" src="images/preloaders/5.gif">
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>

  <!-- Header -->
  <header id="header" class="header">
    <%- include('header_top.html') %>
    <%- include('header_navigation') %>
  </header>

  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home">
      <%- include('slider.html') %>
    </section>

    <!-- Section: Sevices -->
    <section>
      <%- include('services.html') %>
    </section>

    <!-- Section: About -->
    <section id="about" class="bg-lighter " >
      <%- include('about.html') %>
    </section>

   <!-- Divider: why choose us 1 -->
    <section id="whyus" class="divider parallax" data-bg-img="images/bg/bg1.jpg" data-parallax-ratio="0.7">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="col-md-8 col-md-offset-4">
            <div class="bg-white-transparent-9 pb-10 p-40">
              <h2 class="mb-20 mt-30 line-height-1 text-center text-uppercase"><%= chooseus['title1'] %> <span class="text-theme-color-2"> <%= chooseus['title2'] %></span></h2>
              <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="icon-box p-15 mb-0 mb-sm-0 mt-sm-0">
                      <a class="icon pull-left sm-pull-none flip" href="#">
                      <i class="fa fa-building text-theme-colored font-50"></i>
                      </a>
                      <div class="ml-70 ml-sm-0">
                        <h4 class="icon-box-title mt-15 mb-5"><%= chooseus['reason1']['title'] %></h4>
                        <p><%= chooseus['reason1']['paragraph'] %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="icon-box p-15 mb-0 mb-sm-0 mt-sm-0">
                      <a class="icon pull-left sm-pull-none flip" href="#">
                      <i class="fa fa-users text-theme-colored font-50"></i>
                      </a>
                      <div class="ml-70 ml-sm-0">
                        <h4 class="icon-box-title mt-15 mb-5"><%= chooseus['reason2']['title'] %></h4>
                        <p><%= chooseus['reason2']['paragraph'] %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="icon-box p-15 mb-30 mb-sm-0 mt-sm-0">
                      <a class="icon pull-left sm-pull-none flip" href="#">
                      <i class="fa fa-book text-theme-colored font-50"></i>
                      </a>
                      <div class="ml-70 ml-sm-0">
                        <h4 class="icon-box-title mt-15 mb-5"><%= chooseus['reason3']['title'] %></h4>
                        <p><%= chooseus['reason3']['paragraph'] %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="icon-box p-15 mb-30 mb-sm-0 mt-sm-0">
                      <a class="icon pull-left sm-pull-none flip" href="#">
                      <i class="fa fa-money text-theme-colored font-50"></i>
                      </a>
                      <div class="ml-70 ml-sm-0">
                        <h4 class="icon-box-title mt-15 mb-5"><%= chooseus['reason4']['title'] %></h4>
                        <p><%= chooseus['reason4']['paragraph'] %></p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: search  -->
    <section id="search">
      <div class="container pr-5 pl-5 mt-0 pt-70 pb-10 mb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mt-0 line-height-1 text-center text-uppercase mb-10 text-black-333">Search <span class="text-theme-color-2"> Chapters</span></h2>
              <br>
              <p class="pb-20 hidden ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
              <!-- Works Filter -->
              <div class="portfolio-filter text-center mb-40 hidden" data-link-with="grid-petcare-gallery">
              <a href="#" class="active mb-sm-10" data-filter="*">All</a>
              <a href="#computer" class="" data-filter=".computer">Computer</a>
              <a href="#languages" class="" data-filter=".languages">Languages</a>
              <a href="#law" class="" data-filter=".law">Law</a>
              <a href="#science" class="" data-filter=".science">Science</a>
              <a href="#arts" class="" data-filter=".arts">Arts</a>
              </div>
              <!-- End Works Filter -->

              <div class="input-group">
                <input type="email" value="" name="EMAIL" placeholder="Chapter title"  class="form-control" data-height="37px" id="mce-EMAIL">
                <span class="input-group-btn">
                    <button id="searchSubSubjects" type="submit" class="btn btn-colored btn-theme-colored m-0"><i class="fa fa-paper-plane-o text-white"></i></button>
                </span>
              </div>
              <br>
              <!-- Portfolio Gallery Grid -->
              <div id="grid-petcare-gallery" class="gallery-isotope grid-4 gutter clearfix">

              </div>
              <!-- Job Form Validation-->
              <script type="text/javascript">

              $( "#searchSubSubjects" ).click(function() {

                var str = $( "#subSubjectTemplate" ).get(0).outerHTML;
                str = str.replace("style=\"display:none\"","")
                str = str.replace("id=\"subSubjectTemplate\"","")

                // $( "#grid-petcare-gallery" ).append( $( str ) )
                // $( "#grid-petcare-gallery" ).append( $( str ) )
                // $( "#grid-petcare-gallery" ).append( $( str ) )



                // console.log($portfolio_gallery);
                // THEMEMASCOT.widget.TM_masonryIsotop();

                //position: absolute; left: 720px; top: 789px;

                $.getJSON( "http://localhost:5000/sub-subject/query", function( data ) {
                  var items = [];

                  var width = $( document ).width();
                  console.log("width:"+width);


                  var subjectNumber = data.content.length;
                  var rows;
                  var cols;
                  var maxHeight;
                  var paddingHeight = 250;
                  var paddingSpaceItem = 10;

                  if(width>500){
                    subjectWidth = parseInt((width-200)/4);
                    cols = 4;
                    rows = subjectNumber/cols;
                    maxHeight = 600;
                    paddingHeight = 50
                  }else{
                    subjectWidth = width-100;
                    cols = 1;
                    rows = subjectNumber/cols;
                    maxHeight = 300;
                  }

                  // var subjectWidth= subjectWidth;
                  console.log("subjectNumber:"+subjectNumber);
                  console.log("subjectWidth:"+subjectWidth);
                  console.log("rows:"+rows);


                  var count = 0;
                  var currentRow = 0;
                  $.each( data.content, function( key, val ) {

                    console.log(val.subSubjectTitle);
                    console.log(val.subSubjectThumbnail);
                    console.log(val.subject);

                    var newSubSubject = str;
                    newSubSubject = newSubSubject.replace("@subSubjectTitle",val.subSubjectTitle);
                    newSubSubject = newSubSubject.replace("@subSubjectThumbnail",val.subSubjectThumbnail);
                    newSubSubject = newSubSubject.replace("@subject",val.subject);
                    var html = $( newSubSubject );

                    if(count > cols-1 ){
                      currentRow++;
                      count = 0;
                    }

                    console.log("-----------------");
                    console.log("cols:"+cols);
                    console.log("count:"+count);
                    console.log("currentRow:"+currentRow);

                    html.css("position", "absolute");
                    html.css("left", count*subjectWidth+"px");
                    html.css("top", currentRow*maxHeight+"px");
                    $( "#grid-petcare-gallery" ).append( html )

                    count++;
                  });
                  var newHeight = rows * maxHeight+paddingHeight;
                  $( "#search" ).css("height",newHeight+"px");
                });

              });
              </script>
              <!-- End Portfolio Gallery Grid -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Diver: Video Background  -->
    <section class="divider parallax layer-overlay overlay-theme-colored-9 <%= video['enable'] %> " data-bg-img="images/bg/bg1.jpg" data-parallax-ratio="0.7">
      <div class="container pt-60 pb-70">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="text-white text-uppercase font-30 font-weight-600 mt-0 mb-20">Watch Our Latest Campus Tour video</h3>
              <p class="text-white lead">Lorem ipsum dolor sit amet, volupt consectetur adipisicing elit. Rem autem voluptatem obcaecat ipsum dolor sit tetur adipisicing elit amet, consec autem atem obcaecati!</p>
              <a href="https://www.youtube.com/watch?v=pW1uVUg5wXM" data-lightbox-gallery="youtube-video"><i class="fa fa-play-circle text-white font-72"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Gallery -->
    <section id="gallery" class="bg-lighter <%= gallery['enable'] %> ">
      <div class="container pt-60">
        <div class="section-content">
          <div class="row">
            <div class="col-md-7 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
              <h3 class="text-uppercase title line-bottom mt-0 mb-30">Photo <span class="text-theme-color-2">Gallery</span></h3>
              <!-- Portfolio Gallery Grid -->

              <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm1.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/1.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm2.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/2.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm3.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/3.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm4.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/4.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm5.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/5.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm6.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/6.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm7.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/7.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm8.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/8.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm9.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/9.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm10.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/10.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm11.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/11.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->

                <!-- Portfolio Item Start -->
                <div class="gallery-item">
                  <div class="thumb">
                    <img alt="project" src="images/gallery/gallery-sm12.jpg" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="images/gallery/12.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Portfolio Item End -->
              </div>
              <!-- End Portfolio Gallery Grid -->
            </div>
            <div class="col-md-5 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
              <h3 class="text-uppercase title line-bottom mt-0">What <span class="text-theme-color-2 font-weight-700">Clients Say ?</span></h3>
              <div class="bxslider bx-nav-top">
                <div class="testimonial bg-theme-colored border-radius-10px p-20 mb-15">
                  <div class="comment">
                   <p class="text-white"><em>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui.</em></p>
                  </div>
                  <div class="content mt-20">
                    <div class="thumb pull-left flip">
                      <img width="64" src="images/testimonials/1.jpg" alt="" class="img-circle">
                    </div>
                    <div class="testimonials-details pull-left flip ml-20">
                      <h5 class="author text-theme-color-2 mt-0 mb-0 font-weight-600">Jonathan Smith</h5>
                      <h6 class="title font-14 m-0 mt-5 mb-5 text-gray-darkgray">cici inc.</h6>
                      <ul class="review_text list-inline">
                        <li>
                          <div class="star-rating" title="Rated 4.50 out of 5"><span data-width="90%">4.50</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="testimonial bg-theme-colored border-radius-10px p-20 mb-15">
                  <div class="comment">
                   <p class="text-white"><em>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui.</em></p>
                  </div>
                  <div class="content mt-20">
                    <div class="thumb pull-left flip">
                      <img width="64" src="images/testimonials/2.jpg" alt="" class="img-circle">
                    </div>
                    <div class="testimonials-details pull-left flip ml-20">
                      <h5 class="author text-theme-color-2 mt-0 mb-0 font-weight-600">Jonathan Smith</h5>
                      <h6 class="title font-14 m-0 mt-5 mb-5 text-gray-darkgray">cici inc.</h6>
                      <ul class="review_text list-inline">
                        <li>
                          <div class="star-rating" title="Rated 4.50 out of 5"><span data-width="90%">4.50</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="testimonial bg-theme-colored border-radius-10px p-20 mb-15">
                  <div class="comment">
                   <p class="text-white"><em>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui.</em></p>
                  </div>
                  <div class="content mt-20">
                    <div class="thumb pull-left flip">
                      <img width="64" src="images/testimonials/3.jpg" alt="" class="img-circle">
                    </div>
                    <div class="testimonials-details pull-left flip ml-20">
                      <h5 class="author text-theme-color-2 mt-0 mb-0 font-weight-600">Jonathan Smith</h5>
                      <h6 class="title font-14 m-0 mt-5 mb-5 text-gray-darkgray">cici inc.</h6>
                      <ul class="review_text list-inline">
                        <li>
                          <div class="star-rating" title="Rated 4.50 out of 5"><span data-width="90%">4.50</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="divider parallax layer-overlay" data-bg-img="images/bg/bg1.jpg" data-parallax-ratio="0.7">
      <div class="container pt-60 pb-70">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3 class="text-white text-uppercase font-30 font-weight-600 mt-0 mb-20"><%= contribute['title'] %></h3>
              <p class="text-white lead"><%= contribute['paragraph'] %></p>
              </a>
              <form id="volunteer_apply_form" class="bg-light p-30 pb-15" name="job_apply_form" action="#" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="form_name">Name <small>*</small></label>
                      <input id="form_name" name="form_name" type="text" placeholder="Enter Name" required="" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="form_email">Email <small>*</small></label>
                      <input id="form_email" name="form_email" class="form-control required email" type="email" placeholder="Enter Email">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="form_message">Message <small>*</small></label>
                  <textarea id="form_message" name="form_message" class="form-control required" rows="2" placeholder="Soy un ... y me gustaría colaborar con ..."></textarea>
                </div>
                <div class="form-group">
                  <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                  <button type="submit" class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10" data-loading-text="Please wait...">Submit</button>
                </div>
              </form>
              <!-- Job Form Validation-->
              <script type="text/javascript">
                $("#volunteer_apply_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                      dataType:  'json',
                      success: function(data) {
                        if( data.status == 'true' ) {
                          $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      },
                      error: function (request, status, error) {
                          alert(request.responseText);
                      }
                    });
                  }
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Blog -->
    <section id="blog" class="<%= recentNews['enable'] %>" >
      <div class="container pb-70">
        <div class="section-title mb-20 text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="mt-10 line-height-1 text-uppercase">Recent  <span class="text-theme-color-2"> News</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
              <article class="post clearfix mb-sm-30">
                <div class="entry-header">
                  <div class="post-thumb thumb">
                    <img src="images/blog/1.jpg" alt="" class="img-responsive img-fullwidth">
                  </div>
                </div>
                <div class="entry-content p-20 pr-10">
                  <div class="entry-meta mt-0 no-bg no-border">
                    <div class="event-content">
                      <h4 class="entry-title text-white text-capitalize m-0"><a href="#">This is a standard post with thumbnail</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-calendar mr-5 text-theme-colored"></i>21 February</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                  <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti, sint assumenda. Pariatur iste veritatis excepturi, ipsa optio nobis</p>
                      <div class="mt-10"> <a href="blog-single-left-sidebar.html" class="btn btn-theme-colored btn-sm">Read More</a> </div>
                  <div class="clearfix"></div>
                </div>
              </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
              <article class="post clearfix mb-sm-30">
                <div class="entry-header">
                  <div class="post-thumb thumb">
                    <img src="images/blog/2.jpg" alt="" class="img-responsive img-fullwidth">
                  </div>
                </div>
                <div class="entry-content p-20 pr-10">
                  <div class="entry-meta mt-0 no-bg no-border">
                    <div class="event-content">
                      <h4 class="entry-title text-white text-capitalize m-0"><a href="#">This is a standard post with thumbnail</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-calendar mr-5 text-theme-colored"></i>21 February</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                  <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti, sint assumenda. Pariatur iste veritatis excepturi, ipsa optio nobis</p>
                      <div class="mt-10"> <a href="blog-single-left-sidebar.html" class="btn btn-theme-colored btn-sm">Read More</a> </div>
                  <div class="clearfix"></div>
                </div>
              </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
              <article class="post clearfix mb-sm-30">
                <div class="entry-header">
                  <div class="post-thumb thumb">
                    <img src="images/blog/3.jpg" alt="" class="img-responsive img-fullwidth">
                  </div>
                </div>
                <div class="entry-content p-20 pr-10">
                  <div class="entry-meta mt-0 no-bg no-border">
                    <div class="event-content">
                      <h4 class="entry-title text-white text-capitalize m-0"><a href="#">This is a standard post with thumbnail</a></h4>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-calendar mr-5 text-theme-colored"></i>21 February</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                      <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                    </div>
                  </div>
                  <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti, sint assumenda. Pariatur iste veritatis excepturi, ipsa optio nobis</p>
                      <div class="mt-10"> <a href="blog-single-left-sidebar.html" class="btn btn-theme-colored btn-sm">Read More</a> </div>
                  <div class="clearfix"></div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->


  <!-- Footer -->
  <footer id="footer" class="footer divider parallax layer-overlay overlay-dark-9" data-bg-img="images/bg/bg7.jpg" data-parallax-ratio="0.7">
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <img src="images/logo-wide.png" alt="">
          <p class="mt-20 mb-20">Made with </p>
          <p class="mt-20 mb-20"><a target="_blank" href="https://www.templateshub.net/template/LearnPress-Education-Courses">LearnPress-Education-Courses</a></p>
          <ul class="styled-icons icon-dark icon-circled icon-sm mb-40 hidden">
            <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a> </li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
            <li><a href="#"><i class="fa fa-youtube"></i></a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid copy-right p-20 bg-black-333">
      <div class="row text-center">
        <div class="col-md-12">
          <p class="font-11 text-black-777 m-0"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>

<div id="subSubjectTemplate" style="display:none" class="gallery-item computer">
  <div class="item" style="padding: 15px;" >
    <div class="project mb-30 border-2px">
      <div class="thumb">
        <img class="img-fullwidth" alt="" src="@subSubjectThumbnail" style="height: 200px;" >
        <div class="hover-link">
        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="#"><span>Open</span> </a>
        </div>
      </div>
  <div class="project-details p-15 pt-10 pb-10">
    <h5 class="font-14 font-weight-500 mb-5">@subject</h5>
    <h4 class="font-weight-700 text-uppercase mt-0"><a href="page-courses-accounting-technologies.html">@subSubjectTitle</a></h4>
      </div>
    </div>
  </div>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="js/custom.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
       The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>

<!-- index-sp-layout209:19-->
</html>
